@import './variables';

%buttonNavOfProducts {
  font-size: 20px;
  line-height: 30px;
  color: #2B2B2B;
  text-align: center;
  border: none;
  background-color: inherit;
  padding: 10px;
}

%mainButtonGradient {
  background: $color-gradient-blue-orange;
  padding: 10px 30px;
  width: 140px;
  height: 50px;
  color: white;
  font-size: 20px;
  border: none;
  line-height: 30px;
  border-radius: 10px;
  text-align: center;
}

%buttonSignUp {
  font-family: Josefin Sans,
  serif;
  text-align: center;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  padding: 10px 30px;
  height: 50px;
}

%tabletSizeButtons780px {
  @media (max-width: 815px) {
    padding: 10px;
    width: 100px;
    background-color: #a22a2a;
  }
  @media (max-width: 740px) {
    font-size: 16px;
    width: 80px;
  }
}

%tabletSizeButtons600px {
  @media (max-width: 815px) {
    padding: 10px;
    width: 100px;
  }
  @media (max-width: 740px) {
    font-size: 16px;
    width: 80px;
  }
}

%innerForForms {
  font-size: 39px;
  font-family: Josefin Sans,
  serif;
  line-height: 59px;
}

%textColorForSignUp {
  background: linear-gradient(103.86deg, #00c6ff -22.01%, #0183e7 117.6%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

%textColorOrangeBlueGradient {
  background: $color-gradient-blue-orange;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}


%transitionSettings {
  transition: all .3s ease 0s;
}


%InputBoxShadowWithHover {
  box-shadow: $box-shadow;
  transition: 0.3s;

  &:hover {
    box-shadow: 0 0 2px 0.1px #cbc9c9;
  }

  &:focus {
    box-shadow: 0 0 6px 1px #d3d3d3;
    outline-width: 0px;
  }
}

%ButtonsHover {
  transition: 0.2s;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 5px, rgba(113, 88, 226, 0.3) 0px 3px 5px;
  }
}

%flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

%flexStartColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

%radioInputStyle {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #FFFFFF;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
}
