@import './variables';

%buttonSignUp {
  cursor: pointer;
  text-align: center;
  line-height: 50px;
  color: white;
  background: $color-gradient-white-blue;
  font-size: 20px;
  border: none;
  border-radius: 10px;
}

%innerForForms {
  font-size: 39px;
  font-family:
    Josefin Sans,
    serif;
  line-height: 59px;
}

%textColorForSignUp {
  background: linear-gradient(103.86deg, #00c6ff -22.01%, #0183e7 117.6%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}


