@import './variables';

%mainButtonGradient {
    background: $color-gradient-blue-orange;
    padding: 10px 30px;
    height: 50px;
    color: white;
    font-size: 20px;
    border: none;
    line-height: 30px;
    border-radius: 10px;
    text-align: center;
}

%buttonSignUp {
    text-align: center;
    line-height: 50px;
    color: white;
    background: $color-gradient-white-blue;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    padding: 10px 30px;
    height: 50px;
}

%innerForForms {
    font-size: 39px;
    font-family: Josefin Sans,
    serif;
    line-height: 59px;
}

%textColorForSignUp {
    background: linear-gradient(103.86deg, #00c6ff -22.01%, #0183e7 117.6%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

%fontSettings {
    font-family: Josefin Sans,
    serif;
    font-weight: 600;
}

%transitionSettings {
    transition: all .3s ease 0s;
}

