$color-gradient-blue-orange: linear-gradient(to bottom left, #083fed, #fc8901);
$color-gradient-white-blue: linear-gradient(to bottom left, #00c6ff, #0183e7);
$color-orange: #fc8901;
$color-white: #eeebeb;
$color-light-white: #f9f9f9;
$color-violet: #7158e2;
$color-grey-paragraph: #828089;
$color-black: #2b2b2b;
$color-hover-select: #f2f2f2;
$color-line-filter: #d9d9d9;
$color-radio-red: #e74c3c;
$color-radio-yellow: #f1c40f;
$color-radio-green: #2ecc71;
$color-modal-shadow: rgba(0, 0, 0, 0.01);
$color-modal-box-shadow: 0 0 2pt 0.5pt #ababab;
$color-modal-background: #fff;

$box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
$box-shadow-about: rgba(0, 0, 0, 0.3);
$transition: 0.3s ease-in-out;

