$color-gradient-blue-orange: linear-gradient(to bottom left, #083fed, #fc8901);
$color-gradient-white-blue: linear-gradient(to bottom left, #00c6ff, #0183e7);
$color-orange: #fc8901;
$color-white: #eeebeb;
$color-violet: #7158E2;
$color-grey-paragraph: #828089;
$color-black: #2B2B2B;
$color-hover-select: #f2f2f2;


$box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
$transition: 0.3s all ease-in-out;
