$color-gradient-blue-orange: linear-gradient(to bottom left, #083fed, #fc8901);
$color-gradient-white-blue: linear-gradient(to bottom left, #00c6ff, #0183e7);
$color-orange: #fc8901;
$color-white: #eeebeb;
$color-violet: #4651af;

