input {
  height: 22px;
}

img {
  width: 22px;
  height: 22px;
  line-height: 26px;
  text-align: center;
  margin-right: -26px;
  position: relative;
  z-index: 1;
  float: left;
}

img + input {
  padding-left: 26px;
}

.show-password {
  border: none;
  background-color: inherit;
  padding: 0;
  width: 20px;
  height: 20px;
  text-align: center;
  margin-left: -26px;
  position: relative;
  z-index: 1;
}

.show-password + input {
  padding-right: -26px;
}

.password-visible {
  cursor: pointer;
  width: 15px;
  height: 15px;
}
