.dropdown-enter {
    opacity: 0;
    transform: translateY(-10px);

}

.dropdown-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 300ms, transform 300ms;

}

.dropdown-exit {
    opacity: 1;
}

.dropdown-exit-active {
    opacity: 0;
    transform: translateY(-30px);
    transition: opacity 300ms, transform 300ms;
}

.submit-enter {
    transform: translateY(0);
}

.submit-enter-active {
    transform: translateY(-30px); /* Adjust the value as needed */
    transition: transform 400ms;
}



