@import "src/constants/scss/extentds";

.welcome-back {
  background: linear-gradient(63deg, rgba(160, 109, 90, 1) 0%, rgba(42, 73, 205, 1) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;

  p {
    text-align: center;
  }
}

.welcome-back-inner {
  @extend %innerForForms;
  text-align: center;
}

.button-signIn-blue {
  background: $color-orange;
}
