@import 'src/constants/scss/variables';

.main-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  @media (max-width: 980px) {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.main-choose {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  &__headline {
    font-weight: 600;
  }
}

.documentation {
  flex-basis: 270px;
  flex-grow: 1;
  &-container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    height: 100%;
    &__img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background: $color-gradient-blue-orange;
      color: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &.documentation-border {
      border-radius: 10px;
      padding: 30px 15px 25px 15px;
      box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1490196078);
    }
  }
}

.documentation-container__gradient {
  background: $color-light-white;
}

h5 {
  color: $color-grey-paragraph;
  font-weight: 400;
  font-size: 17px;
}
