.profile-container {
  &__img {
    flex-basis: 40%;
      @media (max-width: 1170px) {
          display: none;
      }
    img {
      width: 100%;
      height: 100%;
        @media (max-width: 650px) {
            width: 35px;
            height: 35px;
        }
    }
  }
}
