@import '/src/constants/scss/extentds';
@import '/src/constants/scss/variables';


.button-signIn {
    padding: 10px 30px;
    width: 140px;
    height: 50px;
    color: white;
    background: $color-gradient-blue-orange;
    font-size: 20px;
    border: none;
    line-height: 30px;
    border-radius: 10px;
    position: relative;
    text-align: end;
}

.button-signIn a {
    color: white;
    text-decoration: none;
}

.button-signIn::before {
    content: '';
    position: absolute;
    left: 10px;
    top: 13px;
    width: 24px;
    height: 24px;
    line-height: 50px;
    background-image: url('../../../assets/icons/icon-user.svg');
    background-size: cover;
    margin-right: 10px;
}

.button-signUp {
    @extend %buttonSignUp;
    width: 140px;
    height: 50px;
}

.button-signUp a {
    color: white;
}

.button-signIn.button-signIn__addition {
    @media (max-width: 960px) {
        color: transparent;
        font-size: 13px;
        width: 50px;
        height: 50px;
        padding: 0;
    }
}

.button-signIn.button-signIn__addition::before {
    @media (max-width: 960px) {
        left: 13px;
        right: 28px;
    }
}

.button-signUp.button-signUp__addition {
    @media (max-width: 800px) {
        font-size: 13px;
        width: 50px;
        height: 50px;
        line-height: 45px;
    }
}
