@import 'src/constants/scss/variables';
@import 'src/constants/scss/extentds';


.wrapper-sorting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  background: #FFFFFF;
  box-shadow: $box-shadow;
  border-radius: 20px;
  padding: 5px 40px;

  @media (max-width: 1400px) {
    padding: 40px;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }

  @media (max-width: 600px) {
    padding: 10px;
  }
}

.sort-select {
  width: 20%;

  .select {
    display: flex;
    align-items: center;
    background: #F4F4F4;
    color: #2B2B2B;
    padding: 10px 20px;
    font-weight: 600;
    @extend %ButtonsHover;
    font-size: 20px;

    img {
      height: 20px;
      width: 20px;
    }

    @media (max-width: 600px) {
      font-size: 14px;
    }

  }
}

.dropdown.sort-select {
  width: 300px;

  @media (max-width: 600px) {
    width: 200px;
  }

  .select {
    line-height: 50px;
    padding: 0 30px;

    @media (max-width: 600px) {
      padding: 0 20px;
    }

  }

}

.sort-select .dropdown-menu {
  text-align: center;
}

.wrapper-products {
  margin: 40px 5px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  width: 65%;

  @media screen and (max-width: 1300px) {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    justify-items: center;
  }

  @media screen and (max-width: 600px) {
    grid-template-columns: repeat(1, 1fr);
  }

}

.wrapper-content {
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 1400px) {
    justify-content: center;
  }
}

.loading-spinner {
  padding: 11%;
  height: 50vh;
  width: 100%;

  @media screen and (max-width: 1400px) {
    width: 100%;
  }

}

.wrapper-buttons {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 1400px) {
    width: 100%;
    padding: 0 32px;
  }

  @media screen and (max-width: 600px) {
    padding: 0 10px;
  }

  .button-setting {
    display: none;
    @media screen and (max-width: 1400px) {
      display: block;
    }
  }

}


@media screen and (max-width: 1400px) {

  .products-nav ~ .sort-select {
    width: 50%;
  }

}
