@import 'src/constants/scss/variables';
@import 'src/constants/scss/extentds';


.wrapper-sorting {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background: #FFFFFF;
    box-shadow: $box-shadow;
    border-radius: 20px;
    padding: 5px 10px;
}

.sort-select {
    width: 20%;

    .select {
        display: flex;
        align-items: center;
        background: #F4F4F4;
        color: #2B2B2B;
        padding: 10px 20px;
        font-weight: 600;
        @extend %ButtonsHover;
        font-size: 20px;

        img {
            height: 20px;
            width: 20px;
        }

        @media (max-width: 1190px) {
            .select-logo {
                span {
                    font-size: 0;
                }
            }
        }

        @media (max-width: 680px) {
            .select-logo span {
                font-size: 16px;
            }
        }

        @media (max-width: 550px) {
            height: 32px;
        }
    }
}

.dropdown.sort-select {
    width: 300px;

    .select {
        line-height: 50px;
        padding: 0 30px;

        @media (max-width: 1000px) {
            padding: 0 5px;
            margin: 10px 0;
        }
    }

    @media (max-width: 1190px) {
        width: fit-content;
    }

}

.sort-select .dropdown-menu {
    text-align: center;
}

.wrapper-products {
    margin: 40px 0;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}

.wrapper-content {
    display: flex;
}

.loading {
    padding: 11%;
    height: 50vh;
}
