.wrapper-profile {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  column-gap: 25px;
  @media (max-width: 1170px) {
    position: relative;
  }
}

.profile-container__button {
  margin-top: 50px;
}

.address-del-btn_container {
  display: flex;
  justify-content: space-between;
}
