@import 'src/constants/scss/variables';
@import 'src/constants/scss/extentds';

.promocodes-container {
  margin-top: 10px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  background-color: $color-violet;
}

.promo-code {
  width: 100%;
  display: block;
  padding: 5px 20px;
  color: #fff;
  font-size: 16px;
  will-change: transform;
  backface-visibility: hidden;
  animation: movePromo 6s linear infinite;

  @media (max-width: 500px) {
    padding: 5px 2px;
    font-size: 14px;
  }
}

@keyframes movePromo {
  0% {
    opacity: 1;
    transform: translate3d(-50%, 0, 0);
  }

  50% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  
  98% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@media (max-width: 700px) {
  @keyframes movePromo {
    0% {
      opacity: 1;
      transform: translate3d(-100%, 0, 0);
    }

    50% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }

    98% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }
}

