@import 'src/constants/scss/extentds';

.newHereSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    height: 100vh;
    padding-top: 250px;
    width: 50%;
    padding-right: 20px;
    padding-left: 20px;

    @media (max-width: 790px) {
        height: fit-content;
        gap: 20px;
    }
}

.newHereSection-title {
    background: linear-gradient(103.86deg, #00c6ff -22.01%, #0183e7 117.6%);
    background-clip: text;
    -webkit-background-clip: text;
    text-align: center;
    color: transparent;

    @extend %innerForForms;

    @media (max-width: 790px) {
        font-size: 29px;
        margin-bottom: 0px;
        line-height: 40px;
    }
}

.newHereSection-text {
    color: #828089;
    line-height: 30px;
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
}

