@import 'src/constants/scss/extentds';

.newHereSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  height: 100vh;
  padding-top: 250px;
  width: 50%;
    @media (max-width: 685px) {
        height: 50vh;
    }
}

.newHereSection-title {
  background: linear-gradient(103.86deg, #00c6ff -22.01%, #0183e7 117.6%);
  background-clip: text;
  -webkit-background-clip: text;
  text-align: center;
  color: transparent;

  @extend %innerForForms;
}

.newHereSection-text {
  color: #828089;
  line-height: 30px;
  text-align: center;
}
