.button-signIn{
  box-sizing: border-box;
  padding: 10px 30px;
  width: 140px;
  height: 50px;
  color: white;
  background: linear-gradient(to bottom left, #083FED,  #FC8901);
  font-size: 20px;
  border: none;
  line-height: 30px;
  border-radius: 10px;
  position: relative;
  text-align: end;
}

.button-signIn a{
  color: white;
  text-decoration: none;
}

.button-signIn::before{
  content: "";
  position: absolute;
  left: 10px;
  top: 13px;
  width: 24px;
  height: 24px;
  line-height: 50px;
  background-image: url('../../assets/icons/icon-user.svg');
  background-size: cover;
  margin-right: 10px;
}
