@import 'src/constants/scss/variables';
@import 'src/constants/scss/extentds';

.background {
    position: fixed;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.01);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;


    .modal {
        background-color: #fff;
        box-shadow: 0 0 2pt 0.5pt #ababab;
        width: 600px;
        height: fit-content;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        z-index: 10;
        border-radius: 10px;


        .modal-content {
            margin: 10px auto;
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                width: 200px;
                height: 200px;
            }
        }

        h2 {
            @extend %innerForForms;
            @extend %textColorForSignUp;
        }

        p {
            text-align: center;
            margin-bottom: 10px;
            font-size: 16px;
            color: #828089;
            line-height: 30px;
        }

        button {
            @extend %buttonSignUp;
            padding: 0px 30px;
            font-family: Josefin Sans,
            serif;
            margin-bottom: 10px;
        }

    }
}
