@import 'src/constants/scss/variables';
@import 'src/constants/scss/extentds';

.background {
  position: fixed;
  z-index: 10;
  background-color: $color-modal-shadow;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  .modal {
    background-color: $color-modal-background;
    box-shadow: $color-modal-box-shadow;
    width: 600px;
    height: fit-content;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: 10;
    border-radius: 10px;

    @media screen and (max-width: 770px) {
      width: 400px;
    }

    @media screen and (max-width: 500px) {
      width: 300px;
    }

    .modal-content {
      margin: 10px auto;
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        width: 200px;
        height: 200px;

        @media screen and (max-width: 770px) {
          width: 100px;
          height: 100px;
        }
        @media screen and (max-width: 500px) {
          width: 60px;
          height: 60px;
        }
      }
    }

    h2 {
      @extend %innerForForms;
      @extend %textColorForSignUp;

      @media screen and (max-width: 500px) {
        font-size: 29px;
        line-height: 35px;
      }
    }

    p {
      text-align: center;
      margin-bottom: 10px;
      font-size: 16px;
      color: #828089;
      line-height: 30px;
      @media screen and (max-width: 770px) {
        padding-left: 30px;
        padding-right: 30px;
      }

      @media screen and (max-width: 500px) {
        font-size: 12px;
        line-height: 20px;
        margin-top: 5px;
      }
    }

    button {
      @extend %buttonSignUp;
      padding: 0px 30px;
      margin-bottom: 10px;
      background: $color-gradient-white-blue;

      @media screen and (max-width: 770px) {
        padding: 0 10px;
        margin-bottom: 5px;
      }

      @media screen and (max-width: 500px) {
        width: 115px;
        font-size: 18px;
        line-height: 0px;
        padding: 0;
      }
    }
  }
}
