@import 'src/constants/scss/variables';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0 0 1px 0.02px #ababab;
    @media (max-width: 690px) {
        background: none;
        box-shadow: none;
        flex-direction: column;
        gap: 20px;
    }
}

.wrapper-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}

.header-select {

    .select {
        background: $color-gradient-blue-orange;
        color: #fff;

        img {
            height: 20px;
            width: 20px;
        }
    }
}
