.profile {
  &-form {
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 42px 44px 42px 44px;
    flex-basis: 50%;

    @media (max-width: 1170px) {
      flex-grow: 1;
    }
    @media (max-width: 640px) {
      padding: 21px 22px 51px 21px;
    }
    &__title {
      font-weight: bold;
      font-size: 1.7em;
      justify-content: center;
      display: flex;
      @media (max-width: 640px) {
        font-size: 1.3em;
      }
    }
    &__icon {
      align-items: end;
      display: flex;
    }
    &__button {
      display: flex;
      align-items: end;
      column-gap: 15px;
      transition: 3s;
    }
    &__headline {
      margin-top: 15px;
    }
    input {
      height: 55px;
      padding: 10px 40px;
    }
    &__input {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr 24px 1fr 10px 1fr 10px;
      grid-gap: 5px;
      :nth-child(1) {
        grid-area: 1 / 1 / 2 / 2;
      }
      :nth-child(2) {
        grid-area: 2 / 1 / 3 / 2;
      }
      :nth-child(3) {
        grid-area: 1 / 2 / 2 / 3;
      }
      :nth-child(4) {
        grid-area: 2 / 2 / 3 / 3;
      }
      :nth-child(5) {
        grid-area: 3 / 1 / 4 / 2;
      }
      :nth-child(6) {
        grid-area: 4 / 1 / 5 / 2;
      }
      :nth-child(7) {
        grid-area: 3 / 2 / 4 / 3;
      }
      :nth-child(8) {
        grid-area: 4 / 2 / 5 / 3;
      }
      :nth-child(9) {
        grid-area: 5 / 1 / 6 / 2;
      }
      :nth-child(10) {
        grid-area: 6 / 1 / 7 / 2;
      }
      @media (max-width: 640px) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 10px 1fr 10px 1fr 10px;
        :nth-child(1),
        :nth-child(2),
        :nth-child(3),
        :nth-child(4),
        :nth-child(5),
        :nth-child(6),
        :nth-child(7),
        :nth-child(8),
        :nth-child(9),
        :nth-child(10) {
          grid-area: auto;
        }
      }
    }
    &__head {
      display: flex;
      align-items: end;
      justify-content: space-between;
      margin-bottom: 15px;
      button {
        background: transparent;
        border: none;
      }
      img {
        width: 35px;
        height: 35px;
      }
    }
  }
}

.input-profile {
  .show-password {
    top: 24px;
  }
  .input-logo {
    display: block;
  }
}

.profile-form__button--icon {
  opacity: 1;
  transition:
    opacity 0.5s ease,
    transform 0.3s ease;
}

.profile-form__icon.active .profile-form__button--icon {
  display: none;
}
.profile-form__icon .profile-form__button {
  display: none;
}

.profile-form__icon.active .profile-form__button {
  display: flex;
}

.profile-input {
  &__billing {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 14px 1fr 14px;
    grid-column-gap: 5px;
    :nth-child(1) {
      grid-area: 1 / 1 / 2 / 2;
    }
    :nth-child(2) {
      grid-area: 3 / 1 / 3 / 2;
    }
    :nth-child(3) {
      grid-area: 4 / 1 /4 / 2;
    }
    :nth-child(4) {
      grid-area: 1 / 2 / 2 / 3;
    }
    :nth-child(5) {
      grid-area: 2 / 2 / 3 / 3;
    }
    :nth-child(6) {
      grid-area: 3 / 2 / 4 / 3;
    }
    :nth-child(7) {
      grid-area: 4 / 2 / 5 / 3;
    }
    .error-message {
      margin: -3px 0 5px;
    }
    @media (max-width: 640px) {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, 1fr) 15px 1fr 15px 1fr 15px 1fr;
      :nth-child(1),
      :nth-child(2),
      :nth-child(3),
      :nth-child(4),
      :nth-child(5),
      :nth-child(6),
      :nth-child(7) {
        grid-area: auto;
      }
    }
  }
  &__shipping {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 14px 1fr 14px;
    grid-column-gap: 5px;
    :nth-child(1) {
      grid-area: 1 / 1 / 2 / 2;
    }
    :nth-child(2) {
      grid-area: 3 / 1 / 3 / 2;
    }
    :nth-child(3) {
      grid-area: 4 / 1 /4 / 2;
    }
    :nth-child(4) {
      grid-area: 1 / 2 / 2 / 3;
    }
    :nth-child(5) {
      grid-area: 2 / 2 / 3 / 3;
    }
    :nth-child(6) {
      grid-area: 3 / 2 / 4 / 3;
    }
    :nth-child(7) {
      grid-area: 4 / 2 / 5 / 3;
    }
    .error-message {
      margin: -3px 0 5px;
    }
    @media (max-width: 640px) {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, 1fr) 15px 1fr 15px 1fr 15px 1fr;
      :nth-child(1),
      :nth-child(2),
      :nth-child(3),
      :nth-child(4),
      :nth-child(5),
      :nth-child(6),
      :nth-child(7) {
        grid-area: auto;
      }
    }
  }
}
