.signInSection {
  background: linear-gradient(238.66deg, #083FED -18.13%, #FC8901 120.27%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0;
  width: 50%;
}

.container-logo {
  position: absolute;
  top: 30px;
  left: 30px;
}

.signInSection-text {
  font-size: 39px;
  font-weight: 700;
  line-height: 59px;
  text-align: left;
  color: white;
  margin-bottom: 50px;
}

.container-input {
  margin-bottom: 50px;
}
