@import './../../constants/scss/variables';
@import './../../constants/scss/extentds';

.modal-request-bg {
  position: fixed;
  z-index: 12;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.modal-request {
  background-color: $color-modal-background;
  box-shadow: $color-modal-box-shadow;
  width: 270px;
  height: fit-content;
  border-radius: 10px;
  padding: 10px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 12;
  text-align: center;

  h3 {
    @extend %textColorOrangeBlueGradient;
  }
}
