@import '../../constants/scss/variables';
@import '../../constants/scss/extentds';

.order-card-exit {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.order-card-exit-active {
  opacity: 0;
  transform: translateX(-20%);
  pointer-events: none;
}

.order-card_separator {
  width: 500px;
  height: .1px;
  background-color: $color-grey-paragraph;
  opacity: .4;

  @media (max-width: 1120px) {
    width: 410px;
  }

  @media (max-width: 650px) {
    width: 370px;
  }
}

.order_card-container {
  display: flex;
  margin: 20px 0;
  gap: 100px;

  @media (max-width: 1120px) {
    gap: 20px;
  }

  img {
    display: block;
    width: 100px;
    object-fit: contain;
  }

  .order_inner {
    display: flex;
    justify-content: space-between;

    h5 {
      color: #000;
      font-size: 24px;
    }

    .delete-from-cart {
      flex-shrink: 0;
    }
  }
}

.order_amounts {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  @media (max-width: 650px) {
    width: 240px;
  }

  .order_amounts-prices,
  .order_amounts-numberof {
    display: flex;
    flex-direction: column;
  }

  .single-price {
    display: flex;
    height: 40px;
    align-items: flex-end;
  }

  .cart-with-discount {
    position: relative;

    .old-price {
      position: relative;
      top: 15px;
      left: 43px;
    }
  }

  .order_amounts-numberof span {
    font-size: 14px;
    color: $color-grey-paragraph;
  }
}
