@import '../constants/scss/variables';
@import '../constants/scss/extentds';

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: Josefin Sans,
    serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
}

a {
    text-decoration: none;
}

a, button {
    cursor: pointer;
    font-family: Josefin Sans, serif;
}

li {
    list-style-type: none;
}

*::-webkit-scrollbar {
    width: 5px;
    background-color: $color-white;
    opacity: 0.5;
}

*::-webkit-scrollbar-thumb {
    background-color: $color-orange
}
