@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');

@import '../constants/scss/variables';
@import '../constants/scss/extentds';
@import '../constants/scss/mixins';

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Josefin Sans,
  serif;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: Josefin Sans,
  serif;
  font-size: 20px;
  line-height: 30px;

  @media (max-width: 680px) {
    &::-webkit-scrollbar {
      width: 0;
    }
  }
}

a {
  text-decoration: none;
}

a,
button,
input[type='submit'] {
  cursor: pointer;
  font-weight: 600;
}

input {
  font-family: Josefin Sans,
  serif;
}

input[type='submit'] {
  @extend %ButtonsHover;
}

input:read-only,
input:read-only:hover,
input:read-only:active {
  cursor: default;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 3px inset !important;
}

li {
  list-style-type: none;
}

p {
  font-weight: 400;
}

*::-webkit-scrollbar {
  width: 5px;
  background-color: $color-white;
  opacity: 0.5;
}

*::-webkit-scrollbar-thumb {
  background-color: $color-orange;
}

.container {
  padding: 20px 100px;
  margin: 0 auto;
  max-width: 1440px;

  @media (max-width: 1060px) {
    padding: 20px 60px;
  }

  @media (max-width: 940px) {
    padding: 20px 50px;
  }

  @media (max-width: 701px) {
    padding: 20px 30px;
  }
}

.lock {
  overflow: hidden;
}
