@import "../constants/scss/variables";
@import "../constants/scss/extentds";

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: Josefin Sans, serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}

@import "src/pages/SignUp/SignUp";

