@import 'src/constants/scss/extentds';
@import 'src/constants/scss/variables';

.product-slider-container {
    width: 500px;
    display: flex;

    @media (max-width: 520px) {
        width: 350px;
    }
}

.main-slide-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;
    padding: 20px 0;
    border-radius: 10px;
    box-shadow: $box-shadow;
    overflow: hidden;

    @media (max-width: 770px) {
        flex-direction: column;
    }
    @media (max-width: 650px) {
        flex-direction: row-reverse;
    }



}

.main-image {
    position: relative;
    width: 300px;

    @media (max-width: 520px) {
        width: 200px;
    }
}

.alice-carousel__stage {
    display: flex;
    align-items: center;
}

.alice-carousel__stage-item img,
.main-image.single-image img {
    width: 300px;
    border-radius: 10px;
    height: auto;
    @media (max-width: 520px) {
        width: 200px;
    }
}

.small-thumbnails {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media (max-width: 770px) {
        flex-direction: row;
        gap: 5px;
    }
    @media (max-width: 650px) {
        flex-direction: column;
        gap: 0;
    }
}

.thumb {
    width: 60px;
    height: 60px;
    margin: 5px 0;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.3s ease;

    img {
        display: block;
        width: 60px;
        height: 60px;
    }

    &.active {
        opacity: 1;
    }
}

.btn-prev,
.btn-next {
    position: absolute;
    font-size: 24px;
    cursor: pointer;
    color: $color-orange;
    padding: 8px;
    border-radius: 10%;
    transition: background-color 0.3s ease;

    &:hover {
        color: #000;
    }
}

.btn-prev {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.btn-next {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
