@import 'src/constants/scss/extentds';
@import 'src/constants/scss/variables';

input[type="checkbox"] {
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 16px;
  height: 16px;
  border: 0.15px solid currentColor;
  border-radius: 2px;
  display: grid;
  place-content: center;
}


input[type="checkbox"]::before {
  content: "";
  width: 8px;
  height: 8px;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 10px 10px $color-violet;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:disabled,
input[type="checkbox"]:disabled + label {
  opacity: 0.7;
  color: $color-grey-paragraph;
  cursor: default;
}
