.header-logo {
  display: flex;
  align-items: center;
}

.logo-img {
    margin-right: 4px;
}

.logo-title,
.logo-title-black {
color: white;
  font-size: 30px;
}

.logo-title-black {
color: black;
    font-size: 30px;
    @media  (max-width: 960px) {
        display: none;
    }
    @media (max-width: 690px) {
        display: block;
    }
}
