.header-logo {
  display: flex;
  align-items: center;
}

.logo-img {
  margin-right: 4px;
}

.logo-title,
.logo-title-black {
  color: white;
  font-size: 30px;
}

.logo-title-black {
  color: black;
}
