@import 'src/constants/scss/extentds';
@import 'src/constants/scss/variables';

.image-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;


    .image-modal-content {
        display: flex;
        justify-content: center;
        flex-direction: row-reverse;
        align-items: center;
        width: 100%;
        gap: 10px;

        & > .small-thumbnails {
            flex-direction: column;
            gap: 0;
        }

        @media (max-width: 585px) {
            margin-top: 40px;
            flex-direction: column;

            & > .small-thumbnails {
                flex-direction: row;
                gap: 10px;
            }
        }
    }
}

.image-modal-close {
    position: absolute;
    width: 40px;
    height: 40px;
    background: no-repeat url("../../assets/icons/icon-close-orange.svg") center;
    background-size: 100% 100%;
    top: 15px;
    right: 15px;
    cursor: pointer;

    @media (max-width: 585px) {
        width: 30px;
        height: 30px;
        top: 5px;
        right: 5px;
    }
}

.modal-main-image {
    position: relative;
    width: 500px;
    flex-direction: row;

    .alice-carousel__stage-item img {
        width: 500px;
    }

    @media (max-width: 700px) {
        width: 400px;
        .alice-carousel__stage-item img {
            width: 400px;
        }
    }

    @media (max-width: 585px) {
        width: 360px;
        .alice-carousel__stage-item img {
            width: 360px;
        }
    }
}

.modal-content-main-image img {
    width: 500px;
    height: auto;
    border-radius: 10px;
    @media (max-width: 700px) {
        width: 400px;
    }

    @media (max-width: 585px) {
        width: 360px;
    }
}
