@import 'src/constants/scss/variables';
@import 'src/constants/scss/extentds';

.pagenotfound {
    position: relative;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    @media (max-width: 825px) {
        flex-direction: column;
    }


}

.pagenotfound a {
    text-decoration: none;
    color: $color-white;
}

.pagenotfound-text {
    row-gap: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: $color-gradient-white-blue;
    color: transparent;
    background-clip: text;
    padding: 20px 20px 20px 0;

    @media (max-width: 825px) {
        padding: 20px 0;
    }
}

.pagenotfound-text h1 {
    font-size: 70px;
    text-align: center;
    @media (max-width: 1045px) {
        font-size: 50px;
    }
}

.pagenotfound-text h3 {
    font-size: 40px;
    @media (max-width: 1045px) {
        font-size: 30px;
    }
}

.pagenotfound__button {
    width: 140px;
    height: 50px;
    line-height: 30px;
    @extend %mainButtonGradient;
}

.pagenotfound-container {
    width: 50%;
    height: 50%;
    position: relative;

    @media (max-width: 825px) {
        width: 350px;
        height: 350px;
        position: relative;
        right: -110px;
        top: -60px;
        z-index: -1;
    }

    @media (max-width: 570px) {
        width: 200px;
        height: 200px;
        right: -90px;
    }
}
