@import 'src/constants/scss/variables';
@import 'src/constants/scss/extentds';

.products-inner {
  padding: 0;
  text-align: center;

  h1 {
    margin: 70px 0 30px;
    font-size: 50px;
    line-height: 63px;
  }

  span {
    margin-left: 10px;
    @extend %textColorOrangeBlueGradient;
  }
;
}
