@import "src/constants/scss/variables";

.section-container {
  display: flex;
  justify-content: space-between;

  & section {
    width: 50%;
    min-height: 100vh;
    padding-top: 30vh;
  }

  & section:last-child {
    color: white;
  }
}


@import "src/widgets/SignUpSection/SignUpSection";
@import "src/widgets/WelcomeBackSection/WelcomeBackSection";
