@import "src/constants/scss/variables";

.section-container {
  display: flex;
  justify-content: space-between;

  & section {
    width: 50%;
    min-height: 100vh
  }

  & section:last-child {
    background: #fff;
  }
}


@import "src/widgets/SignUpSection/SignUpSection";
