@import 'src/constants/scss/variables';

.section-container {
    display: flex;
    justify-content: space-between;
    @media (max-width: 790px) {
        flex-direction: column;
    }

    & section {
        width: 50%;
        min-height: 100vh;
        padding-top: 25vh;
        @media (max-width: 790px) {
            padding: 3vh 0;
            width: 100%;
            min-height: 0;
        }
    }

    & section:last-child {
        color: white;
    }
}


@import 'src/widgets/WelcomeBackSection/WelcomeBackSection';
