@import './../../../constants/scss/variables';
@import './../../../constants/scss/extentds';

.modal-header {
  margin-bottom: 10px;
}

.modal-background {
  position: fixed;
  z-index: 10;
  background-color: $color-modal-shadow;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  .modal-window {
    background-color: $color-modal-background;
    box-shadow: $color-modal-box-shadow;
    width: 600px;
    height: fit-content;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: 10;
    border-radius: 10px;
    padding: 50px;
    .image-modal-save {
      display: flex;
      justify-content: center;
      column-gap: 20px;
      .profile-button {
        width: 120px;
      }
    }
    @media screen and (max-width: 770px) {
      width: 400px;
    }

    @media screen and (max-width: 500px) {
      width: 300px;
    }

    .modal-inner {
      margin: 10px auto;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

.profile-form .profile-form__buttons {
  display: none;
  @media (max-width: 1170px) {
    display: flex;
    justify-content: center;
  }
}
