.profile {
  &-wrapper {
    @media (max-width: 1170px) {
      display: none;
    }
  }
  &-container {
    &__button {
      display: flex;
      justify-content: center;

      a {
        width: auto;
        height: auto;
      }
    }

    &__img {
      flex-basis: 40%;

      img {
        @media (max-width: 1170px) {
          display: none;
        }
      }

      img {
        width: 100%;
        height: auto;
        @media (max-width: 1400px) {
        }
        @media (max-width: 650px) {
          width: 35px;
        }
      }
    }
  }
}
