.profile-container {
  &__img {
    flex-basis: 40%;
    @media (max-width: 1170px) {
      display: none;
    }
    img {
      width: 100%;
      height: auto;
      @media (max-width: 1400px) {

      }
      @media (max-width: 650px) {
        width: 35px;
        
      }
    }
  }
}
