.wrapper {
    max-width: 100%;
    height: 100vh;
    margin: 0 auto;
    background-image: url("../../assets/img/main-background.png");
    background-repeat: no-repeat;
    background-size: cover;

}


