.wrapper {
    max-width: 100%;
    height: 150vh;
    margin: 0 auto;
    background-image: url("../../assets/img/main-background.png");
    background-repeat: no-repeat;
    background-size: cover;

}

.container {
    padding: 20px 100px;

    margin: 0 auto;
}
