@import '/src/constants/scss/extentds';
@import '/src/constants/scss/variables';

.products-nav-item {
    @extend %buttonNavOfProducts;
    padding: 10px;
    margin-right: 5px;
    width: auto;
    border-radius: 10px;
    transition: .5s background-color ease-in-out;

    &:hover {
        background: $color-gradient-blue-orange;
        color: white;
    }
}

.products-nav-item_active {
    @extend %mainButtonGradient;
    @extend %tabletSizeButtons780px;
    padding: 10px;
}

.buy-now-button {
    margin-top: 20px;
    @extend %mainButtonGradient;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;

    &::before {
        content: '';
        width: 30px;
        height: 30px;
        background-size: cover;
        background: no-repeat url('../../../assets/icons/shopping-cart-fill.svg') center;
        content: '';
    }

    @media (max-width: 650px) {
        width: 350px;
        margin: 20px auto 0;
    }
}
