@import '/src/constants/scss/extentds';
@import '/src/constants/scss/variables';


.button-logOut {
    width: 140px;
    position: relative;
    text-align: center;

    @extend %buttonSignUp;
    @extend %fontSettings;
}
