.breadcrumbs {
  padding: 20px 40px;
  border-bottom: 1px solid #eeeeee;
  text-align: start;
  height: 70px;

  @media (max-width: 600px) {
    padding: 5px 10px;
    font-size: 14px;
    height: 40px;
  }

  a {
    color: #7c8189;
    font-size: 16px;
  }
}

